:root{
    --text-color:white;
    --font-style:'Roboto', sans-serif;
    --font-style-2: 'Courgette', cursive;
    --text-color-2:#B20F13;
    --text-color-3:#FCBC18;
}
*{
    margin: 0;padding: 0;
}

.container{
   
    background-image: url(uneti.jpeg);
    background-size: cover;
    width: 100%;
    height: 867px;
    position: relative;
}
.black{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}
.left{
    width: 500px;
}
.all{
    position: absolute;
    display: flex;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 37px;
  
}
.title_1{

    width: 100%;
    height: 30px;
    margin-left: 36px;
    border-left: 10px solid #684700;
    line-height: 30px;
    padding-left:20px;
    font-family:var(--font-style);
    font-weight: 700;
    color: var(--text-color);
    font-size: 20px;
    
}
.content-img{
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid white;
}
.content{
 
    
    width: 415px;
    height: 203px;
   
}
.content-list{
    display: flex;
    margin-bottom: 30px;
    margin-left: 12px;
}
.content-text{
    
    margin: auto;
    font-family:var(--font-style);
    font-weight: 500;
    line-height: 26px;
}
.Name{
    color: var(--text-color) ;
    font-weight: 600;
    font-size: 24px;
    
}

.icon1{
    display: inline-block;
    color: var(--text-color-3);
}
.text-color{
   color:var(--text-color-3);
}
 span{
    color: var(--text-color);
    font-style: italic;
    font-weight: 600;
 
}
.right{
    margin-top: -16px;
    width: 1000px;
    transform: rotate(348deg);
    margin-left: 185px;
    font-family: var(--font-style-2);

}
.right__text{
   
}
.right__text-top {
    width: 100%;
    height: 100px;

}
.right__text-top--style{
   
    color: var(--text-color-2);
    font-size: 70px;
}
.right__text-bottom {
    width: 100%;
    height: 100px;
    padding-left: 127px;
}
.right__text-bottom--style {
    color: var(--text-color-2);
    font-size: 120px;
  
}